:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --contrast-text-color: #ffffff;

  /* BG colors */
  --dark-color-theme: #e7e9fc;
  --accent-color: #4d5ae5;
  --style-color: #404bbf;
  --accent-color-second: #f4f4fd;
}
/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}
/* =============== COMPONENTS====================== */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*==== flexbox==== */
/* .flexbox-container { 
display: flex;
flex-direction: row;
/* } */

.page-nav {
  display: flex;
  flex-direction: row;
}

.contact {
  display: flex;
  flex-direction: row;
}

.benefits-list {
  display: flex;
  flex-direction: row;
}

.team-list {
  display: flex;
  flex-direction: row;
}

.project-list {
  display: flex;
  flex-direction: row;
}

.work-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.work-item {
  width: calc((100% - 24px * 2) / 3);
}

/* =============== /COMPONENTS====================== */
/*================= HEADER =======================*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.dark-logo {
  color: var(--primary-text-color);
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-link:focus,
.menu-link:hover {
  color: var(--style-color);
}

.work-item-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contact-link:focus,
.contact-link:hover {
  color: var(--style-color);
}

/*==================== Hero =========================*/
.hero {
  background-color: var(--primary-text-color);
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--contrast-text-color);
  margin-bottom: 48px;
  width: 494px;
}

.button {
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--contrast-text-color);
  background: var(--accent-color);
  cursor: pointer;
  border: none;
}
.button:hover,
.button:focus {
  background: var(--style-color);
}
.project-button {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: var(--accent-color-second);
  cursor: pointer;
}

.project-button:hover,
.project-button:focus {
  background: var(--style-color);
  color: var(--contrast-text-color);
}

.our-team {
  background-color: var(--accent-color-second);
}

.work-item {
  width: 360px;
  margin-bottom: 48px;
}

.work-team-wrapper {
  border: 1px solid var(--dark-color-theme);
  border-top: none;
  padding: 32px 0px;
}

/* footer */
.footer-discription {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color-theme);
}
.light-logo {
  color: var(--accent-color-second);
}
.footer {
  background-color: var(--primary-text-color);
}
